#cloud-config

hostname: coreos01

coreos:
  etcd:
    addr: $private_ipv4:4001
    peer-addr: $private_ipv4:7001

users:
  - name: core
    passwdï¼š1bUErPU7EQxzo

  - groups:
      - sudo
      - docker
